:root {
  --first-color: #fbf0f0;
  --secod-color: #dfd3d3;
  --third-color: #b8b0b0;
  --fourth-color: #7c7575;
  --fifth-color: #625c5c;
  --heading-text: font-family: 'montserrat', sans-serif;
  --para-text: font-family: 'Poppins', sans-serif;
}
