:root {
  --first-color: #fbf0f0;
  --second-color: #dfd3d3;
  --third-color: #b8b0b0;
  --fourth-color: #7c7575;
  --fifth-color: #625c5c;
  --head-font-family: "Merriweather", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--first-color);
  font-family: var(--default-font-family);
}
.hero {
  background-color: var(--second-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  color: var(--fifth-color);
  font-family: var(--head-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h3 {
  color: var(--fourth-color);
  line-height: 2;
  font-size: 24px;
}

.btn {
  color: var(--first-color);
  background-color: var(--fifth-color);
  border: 1px;
  border-color: var(--fifth-color);
  font-size: 16px;
  line-height: 27px;
}
